/* ------------------------------ GLOBAL STYLE ----------------------------  */
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

button {
    border: none;
    background: white;
    outline: none;
    width: 100%;
    min-height: 40px;
    height: 40px;
    font-weight: 300;
    font-size: larger;
}

button:disabled {
    opacity: 0.33;
}

button:active {
    background: #2D77C2;
}

/* Use nice fonts in text boxes */
input, textarea, select{
    font-family:inherit;
    font-size: 150%;
}

/* Don't want user selectable text */
* {
    user-select: none;
}

/* ----------------------------- CONTAINER STYING ------------------------- */
.App {
    min-height: 100vh;
    min-width: 100vw;
    cursor: url(../img/cursor.png) 25 25, auto;
}

.ModalCentreFlex {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    z-index: 2;
    pointer-events: none;
    align-items: center;
    justify-content: center;
}

.ModalNotification {
    display: none;
    width: 200px;
    font-size: large;
    font-weight: bold;
    padding: 16px;
    text-align: center;
    color: white;
    opacity: 0;
}

.ModalNotification.ModalNotification--Display {
    display: inline;
    animation-duration: 3s;
    animation-name: toast;
}

@keyframes toast {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0.94;
    }
    85% {
        opacity: 0.94;
    }
    100% {
        opacity: 0;
    }
}

#saveCompleted {
    background: #5FB632;
}

#saveFailed {
    background: #B91109;
}


/* Make the Sidebar fixed width */
.App-Flex-Sidebar {
    width: 300px;
    display: flex;
    max-height: 100vh;
    flex-direction: column-reverse;
    text-align: center;
}

/* Make the Sidebar fixed width */
.Sidebar-Spacer--ForPip {
    min-height: 300px;
}

/* The Landmarks panel takes up the rest of the room */
.Sidebar-LandmarksPanel {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    cursor: pointer;
    z-index: 2;
}

.Sidebar-button {
    flex: 1 auto;
}

/* Special Sidebar item used for rows (e.g. two buttons).
is itself a row flexbox */
.Sidebar-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    min-height: 40px;
    z-index: 2;
}

.Sidebar-row-item {
    flex: 1;
}

.App-FullScreen {
    position: fixed
}

#canvas {
    z-index: 1;
}


/* ASSET INFO AND TOOLBAR - LEFT COLUMN - FLEXBOX */
.App-Flex-LeftCol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/* PAGER - BOTTOM ROW - FLEXBOX */
.App-Flex-Horiz {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.App-Flex-Vert {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.Notifications {
    z-index: 4;
    display: flex;
    flex-direction: column;
    height: 10px;

}

.Notification {
    display: flex;
    flex: 1;
}

#assetNotification {
    display: none;
}

#assetDone {
    flex: 0.3;
    background: #B91109;
}

#previewDone {
    flex: 0.00001;
    background: #0A4EB2;
}

#assetRemaining {
    flex: 0.7;
    background: #ff6966;
    opacity: 0.1;
}

#previewRemaining  {
    flex: 1;
    background: #2D77C2;
    opacity: 0.1;
}

.AssetInfo {
    z-index: 2
}

/* UITEXT (TOP LEFT) */
.App-Viewport-UIText-TopLeft {
    z-index: 2;
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
}

/* Container for Prev/Next buttons */
.App-Flex-Pager {
    display: flex;
    align-items: flex-end;
}

.Pager-Item {
    z-index : 2
}

/* Toolbar needs to be above the Three.js viewport and canvas overlay */
.Toolbar {
    z-index: 2;
    background: rgba(45, 119, 194, 0.5);
    width: 200px;
}

/* A dummy spacer, just to push the toolbar to the bottom */
.Toolbar-Spacer {
    flex: 1;
}

.Toolbar-Row {
    color: white;
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    font-weight: 300;
    font-size: larger;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.Toolbar-Row-Item {
    flex: 1;
}

.Toolbar-Row--Disabled{
    pointer-events: none;
    opacity: 0.3;
}

/* Black transparent overlay used when model sheets are up */
.Overlay-Background {
    position: fixed;
    background: rgba(54, 25, 25, .5);
    z-index: 3;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

/* OVERLAY ROW FLEXBOX */
.Overlay {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    z-index: 4;
    position: absolute;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

/* The overlay sheet itself */
.Overlay-Sheet {
    flex: 1;
    height: 80vh;
    max-width: 50vw;
    text-align: center;
    background: white;
}

#demoWarning {
    font-size: xx-large;
    color: white;
}

#assetInfo {
    z-index: 2;
}

.LmGroup {
    position: relative;
}

.LmGroup-Label {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
    font-size: larger;
    color: white;
}

.LmGroup-Label--Active {
    font-weight: bold
}

.LmGroup-Flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0.5;
}

.Lm {
    flex: 1;
    height: 30px;
    margin-left: 1px;
    margin-bottom: 1px;
}

.Lm-Empty {
    background: #2D77C2;
}

.Lm-Value {
    background: #0A4EB2;
}

.Lm-Selected {
    background: #5FB632;
}


.Lm-NextAvailable {
    border-bottom: solid white;
    height: 27px;
}

/* ----------------------- INDIVIDUAL ITEM STYLING ------------------------- */
.Button-Basic {
    background: #0A4EB2;
    color: white;
    width: 100%;
}

.Button-Basic-Fixed {
    background: #0A4EB2;
    color: white;
    width: 140px;
}

.Button--Disabled {
    opacity: 0.33;
}

.Button-Save {
    color: white;
    background: #5FB632;
}

.Button-Revert {
    color: white;
    background: #B91109;
}

.Button-Toolbar {
    background: #2D77C2;
    color: white;
}

.Button-Toolbar-On {
    font-weight: bold;
    background: #0A4EB2;
}

#assetName {
    color: #B91109;
    background: white;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    margin: 0;
    width: inherit;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7);
}

#assetIndex {
    color: black;
    background: white;
    font-size: x-large;
    text-align: left;
    margin: 0;
    width: inherit;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7);
}

.LabelName {
    color: #B91109;
    font-size: large;
    font-weight: bold;
    margin-left: 16px;
    text-align: left;
}

.LabelCount {
    margin-right: 16px;
    font-size: large;
    text-align: right;
}

/* from http://proto.io/freebies/onoff/ */
.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.1s ease-in 0s; -webkit-transition: margin 0.1s ease-in 0s;
    -o-transition: margin 0.1s ease-in 0s; transition: margin 0.1s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #0A4EB2; color: #FFFFFF;
    text-align: left;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 0px;
    position: absolute; top: 0; bottom: 0; right: 46px;
    -moz-transition: all 0.1s ease-in 0s; -webkit-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s; transition: all 0.1s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
