.BackendChoices {
    display: flex;
    flex-direction: row;
}

div[class^="BackendOption"] {
    display: block;
    flex: 1;
    height: 44px;
    margin: 1em;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    float: left;
    cursor: pointer;
    text-align: center;
    line-height: 44px;
    color: #919191;
    font-weight: bold;

    &:hover {
        background-color: #f0f0f0;
    }
}
