button,
.Button {
    @extend %transitionAll;
    border: none;
    background: white;
    outline: none;
    width: 100%;
    min-height: $mainControlHeight;
    line-height: $mainControlHeight;
    font-weight: 300;
    font-size: larger;
    cursor: pointer;
}

.Button-Basic,
.Button-Save,
.Button-Help {
    color: white;
}

.Button-Basic {
    background: $colorDarkerBlue;
    &:hover {
        background: $colorDarkBlue;
    }
}

.Button-Save {
    background: $colorGreen;
    &:hover {
        background: $colorDarkGreen;
    }
}

.Button-Help {
    background: $colorRed;
    cursor: help;
    &:hover {
        background: $colorDarkRed;
    }
    font-size: larger;
}

button:disabled,
.Button--Disabled {
    opacity: .33;
    cursor: default;
}
