button,
.Button {
    @extend %transitionAll;
    border: none;
    background: white;
    font-family: $fontFamily;
    outline: none;
    width: 100%;
    margin: 0;
    min-height: $mainControlHeight;
    line-height: $mainControlHeight;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

.Button-Basic,
.Button-Save,
.Button-Danger,
.Button-Info {
    color: white;
    text-transform: uppercase;
    font-size: medium;
}

.Button-Basic#help {
    font-size: 1em;
    cursor: help;
}

.Button-Basic {
    background: $colorDarkerBlue;
    &:hover {
        background: $colorDarkBlue;
    }
}

.Button-Save {
    background: $colorGreen;
    &:hover {
        background: $colorDarkGreen;
    }

    &.Active::before {
        content: '•';
        color: $colorRed;
        font-size: 2.75em;
        vertical-align: top;
        position: absolute;
        left: 12px;
    }
}

.Button-Info {
  background: $colorPurple;
  &:hover {
      background: $colorDarkPurple;
  }
}

.Button-Danger {
    background: $colorRed;
    &:hover {
        background: $colorDarkRed;
    }
}

button:disabled,
.Button--Disabled {
    opacity: .33;
    cursor: default;
}
