.HelpOverlay {
    z-index: $zIndexOverlay;
<<<<<<< HEAD
    background: rgba(0, 0, 0, .6);
=======
    background: black(.6);
>>>>>>> CSS and color harmonisation
    display: none;
    cursor: pointer;
    pointer-events: auto;
    width: 100%;
    height: 110%;
    align-items: center;
    justify-content: center;

    &.Display {
        display: flex;
    }
}

.HelpContentTable {
    border-collapse: collapse;
    background: white;
    padding: 10px;

    td {
        padding: 8px;
    }

    tr td:first-of-type {
<<<<<<< HEAD
        background: rgba(33,94,184,1);
=======
        background: $colorDarkerBlue;
>>>>>>> CSS and color harmonisation
        color: white;
        font-weight: bold;
        text-align: right;
    }

    tr.title {
        text-transform: uppercase;
        font-weight: bolder;

        td {
          text-align: left;
        }
    }

}
