.HelpOverlay {
    z-index: $zIndexOverlay;
    background: black(.6);
    display: none;
    cursor: pointer;
    pointer-events: auto;
    width: 100%;
    height: 110%;
    align-items: center;
    justify-content: center;

    &.Display {
        display: flex;
    }
}

.HelpContentTable {
    border-collapse: collapse;
    background: white;
    padding: 10px;

    td {
        padding: 8px;
    }

    tr td:first-of-type {
        background: $colorDarkerBlue;
        color: white;
        font-weight: bold;
        text-align: right;
    }

    tr.title {
        text-transform: uppercase;
        font-weight: bolder;

        td {
          text-align: left;
        }
    }

}
