.HelpContentTable {

    td {
        padding: 8px;
    }

    tr td:first-of-type {
        background: $colorDarkerBlue;
        color: white;
        font-weight: bold;
        text-align: right;
    }

    tr.title {
        text-transform: uppercase;
        font-weight: bolder;

        td {
          text-align: left;
        }
    }

}
