.ModalsWrapper {
    z-index: $zIndexOverlay;
    background-color: rgba(0, 0, 0, .6);
    pointer-events: auto;
    justify-content: flex-start;

    opacity: 0;
    visibility: hidden;

    &, & > * {
        transition: visibility .25s ease-in-out,
                    opacity .25s ease-in-out;
    }
}

.ModalsWrapper--Open {
    opacity: 1;
    visibility: visible;
}

.ModalWindow {

    transform: transale3d(0,0,0);
    margin-top: 64px;

    &, & * {
      box-sizing: border-box;
      }

    background: white;
    border-radius: 3px;
    width: 96%;
    max-width: 640px;
    position: relative;

    transition: all .2s ease-in-out;
    box-shadow: 0 16px 16px rgba(0,0,0,.1);

    opacity: 0;
    visibility: hidden;
    display: none;
}

.ModalWindow--Open {
    opacity: 1;
    visibility: visible;
    overflow: auto;
    display: block;
}

.ModalWindow__Close {
    cursor: pointer;
    transition: color .25s ease-in-out;
    position: absolute;
    font-weight: bold;
    top: .75em;
    right: 1em;
    color: #333;

    &:hover {
        color: #d64541;
    }
}

.ModalWindow__Content,
.ModalWindow__Title {
    padding: 1em;
}

.ModalWindow__Title {
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.2em;
    font-weight: medium;
    padding-right: 2em;
}

.ModalWindow__Content {

  > input {
      margin: .25em 0;
      padding: 0 1em;
      line-height: 48px;
      border: 1px solid #e5e5e5;
      border-radius: 1px;
      outline: none;
      width: 100%;
      transition: all .25s ease-in-out;

      &:active,
      &:focus {
          border: 1px solid #1690e5;
      }
  }
}

.ModalOptions {
    display: flex;
    flex-direction: row;
}

.ModalOption {
    display: block;
    border: 1px solid #e5e5e5;
    flex: 1;
    height: 44px;
    margin-right: 1em;
    border-radius: 3px;
    float: left;
    cursor: pointer;
    text-align: center;
    line-height: 44px;

    &:hover {
        background-color: #f0f0f0;
    }

    &:last-of-type {
      margin-right: 0;
    }
}

.ListPicker {

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
        line-height: 48px;
        max-height: 256px;
        padding: 0 1em;
        cursor: pointer;
        border-bottom: solid 1px #e5e5e5;
        transition: all .25s ease-in-out;
        opacity: 1;
        visibility: visible;
        transform: translate3d(0,0,0);

        &:hover {
            background-color: #e5e5e5;
        }

        &.Hidden {
            opacity: 0;
            visibility: hidden;
            max-height: 0;
        }
    }
}
