.LeftSidebar {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

// Asset info in top left corner
.AssetInfo > button {
    display: block;
    text-align: left;
    margin: 0;
    background: white(.85);
    width: inherit;
    font-weight: normal;
    height: 36px;
    line-height: 36px;

    span.label {
        text-transform: uppercase;
        font-size: small;
        font-weight: bold;
        margin-right: .2em;

        &::after {
          content: ':';
        }
    }

    &.Disabled {
        cursor: default;
    }
}

.AssetInfo > button.BackendName {
    &::before {
        display: inline-block;
        height: 28px;
        margin-right: .5em;
    }
}

.AssetInfo > button.BackendName--Dropbox {
    background-color: $colorDropboxBlue;
    color: white;

    &::before {
        content: '';
        background-size: cover;
        background-image: url(img/dropbox-white.svg);
        vertical-align: middle;
        width: 28px;
    }
}

.AssetInfo > button.BackendName--Server {
    background-color: $colorDarkGray;
    color: white;

    &:before {
          content: 'url:';
          text-transform: uppercase;
          font-size: small;
          font-weight: bold;
          color: white;
    }
}

.Toolbar {
    opacity: .9;
    background: $colorLightBlue;
    width: 100%;
    max-width: 170px;
    padding: .4em;
}

.Toolbar-Row {
    color: white;
    border: none;
    outline: none;
    width: 100%;
    height: $mainControlHeight;
    font-weight: 300;
    font-size: larger;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.Toolbar-Row-Item {
    flex: 1;

    &:first-of-type {
        text-transform: uppercase;
        font-weight: bold;
        font-size: medium;
        text-align: left;
    }
}

.Toolbar-Slider {
    padding-left: .4em;
}

.Toolbar-Row--Disabled{
    pointer-events: none;
    opacity: 0.3;
}

.onoffswitch {
    position: relative;
    width: 80px;
    user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.15s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: $colorDarkerBlue;
    color: white;
    text-align: left;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: white;
    color: $colorGray;
    text-align: right;
}

.onoffswitch-switch {
    border-radius: 2px;
    width: 20px;
    height: 20px;
    background: $colorLightGray;
    position: absolute; top: 5px; bottom: 0; right: 56px;
    transition: all 0.15s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 5px;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: $colorLightGray;
    width: auto;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}

input[type=range]:focus {
    outline: none;
}

@mixin rangeThumb {
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none;
    background-color: $colorDarkerBlue;
    border: 1px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: $colorPurple;
    }

    &:active {
        transform: scale(1.2);
    }
}

input[type="range"]::-webkit-slider-thumb {
    @include rangeThumb;
}
input[type=range]::-moz-range-thumb {
    @include rangeThumb;
}
input[type=range]::-ms-thumb {
    @include rangeThumb;
}
