// Main sidebar container
.RightSidebar {
    flex-direction: column-reverse;
    align-items: flex-end;

    @media screen and (max-width: $breakpointsMobile) {
        display: none;
    }
}

.RightSidebar > div {
    width: 100%;
    max-width: 300px;
}

.RightSidebar-Controls,
.RightSidebar-LandmarksPanel,
.RightSidebar-Template {
    display: flex;
    text-align: center;
    opacity: .9;
}

.RightSidebar-Template {
    @extend %transitionAll;
    min-height: $mainControlHeight;
    line-height: $mainControlHeight;
    background: $colorDarkerBlue;
    color: white;
    cursor: pointer;
    margin-left: 1px;
    margin-bottom: 1px;
    justify-content: space-between;
    font-size: larger;

    > span {
        display: inline-block;
        text-align: center;
        line-height: $mainControlHeight;
        width: $mainControlHeight;
        font-size: larger;
    }

    > p {
        flex: 4;
        margin: 0;
    }

    &:hover {
        background: $colorDarkBlue;
    }
}

/* Special RightSidebar item used for rows (e.g. two buttons).
is itself a row flexbox */
.RightSidebar-Controls {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: $mainControlHeight;
}

.RightSidebar-Controls-Item {
    flex: 2;
    margin-left: 1px;
    margin-bottom: 1px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      flex: 1;
    }
}

/* Landmarks selector */
.RightSidebar-LandmarksPanel {
    flex-direction: column;
    cursor: pointer;
}

.LmGroup {
    position: relative;
    background: white(.75);
}

.LmGroup-Label,
.LmGroup-Flex {
    width: 100%;
    height: 100%;
}

.LmGroup-Label {
    position: absolute;
    top: 0;
    z-index: 1;
    pointer-events: none;
    font-size: larger;
    color: white;
}

.LmGroup-Label--Active {
    font-weight: 700;
}

.LmGroup-Flex {
    display: flex;
    align-items: center;
}

.Lm {
    @extend %transitionAll;
    opacity: .5;
    flex: 1;
    height: 30px;
    margin-left: 1px;
    margin-bottom: 1px;

    &:hover {
        opacity: .75;
    }
}

.Lm-Empty {
    background: black(.5);
}

.Lm-Value {
    background: $colorDarkerBlue;
}

.Lm-Selected {
    background: $colorPurple;
}


.Lm-NextAvailable {
    background: $colorOrange;
}
