.LeftSidebar {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.AssetInfo > .BackendName,
.AssetInfo > button {
    margin: 0;
    width: inherit;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
}

.AssetInfo > button {

  display: block;
  text-align: left;
  background: white(.85);
  border-top-right-radius: $minorBoarderRadius;
  border-bottom-right-radius: $minorBoarderRadius;
  margin-top: 2px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
      background-color: $colorLightGray;
  }

  &.Disabled {
      cursor: default;
      color: $colorGray;

      &:hover {
          background-color: white(.85);
      }
  }

  span.label {
      text-transform: uppercase;
      font-size: small;
      font-weight: bold;
      margin-right: .2em;

      &::after {
        content: ':';
      }
  }
}

.AssetInfo > .AssetIndex {
    input {
        @extend %transitionAll;
        display: inline;
        padding: 0 .5em;
        border: 1px solid $colorLightGray;
        border-radius: 2px;
        outline: none;
        line-height: 24px;
        width: 5em;

        &:active,
        &:focus {
            border: 1px solid $colorBlue;
        }
    }
}

.AssetInfo > .BackendName {
    color: white;

    &:hover {
        cursor: pointer;
    }

    > span,
    &::before {
         background: $colorDarkGray;
         float: left;
         height: 36px;
         line-height: 36px;
         text-align: center;
    }

    > span.content {
        padding: 0 .75em;
    }
}

.AssetInfo > .BackendName--Dropbox {

    > span.content,
    &::before {
        background-color: $colorDropboxBlue;
    }

    &::before {
        content: '';
        background-size: cover;
        background-image: url(img/dropbox-white.svg);
        width: 28px;
    }
}

.AssetInfo > .BackendName--Server {
    > span:first-of-type {
        width: 28px;
        font-size: larger;
    }
}

.AssetInfo > .BackendName > span:last-of-type {
    @extend %transitionAll;
    background: $colorRed;
    width: 36px;
    border-bottom-right-radius: $minorBoarderRadius;
}

.AssetInfo > .BackendName:hover > span:last-of-type {
    background: $colorDarkRed;
}

.Toolbar {
    opacity: .9;
    background: $colorLightBlue;
    width: $toolbarWidth;
    padding: $mainControlPadding;
    border-top-right-radius: $mainBorderRadius;
}

.Toolbar-Row {
    color: white;
    border: none;
    outline: none;
    padding: 5px;
    font-weight: 300;
    font-size: larger;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.LandMark-Changed{
    color:black;
    background:white;
    padding: 5px;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
}

.LandMark-Changed-Item{
    width:100%;
}

.LM-Changed-Value{
    float:right;
}

.Toolbar-Row-Item {
    flex: 1;

    &:first-of-type {
        text-transform: uppercase;
        font-weight: bold;
        font-size: medium;
        text-align: left;
    }
}

.Toolbar-Slider {
    padding-left: .4em;
}

.Toolbar-Row--Disabled{
    pointer-events: none;
    opacity: 0.3;
}

.onoffswitch {
    position: relative;
    margin: 0;
    float: right;
    width: 80px;
    user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: $minorBoarderRadius;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.15s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: $colorDarkerBlue;
    color: white;
    text-align: left;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: white;
    color: $colorGray;
    text-align: right;
}

.onoffswitch-switch {
    border-radius: $minorBoarderRadius;
    width: 20px;
    height: 20px;
    background: $colorLightGray;
    position: absolute; top: 5px; bottom: 0; right: 56px;
    transition: all 0.15s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 5px;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: $colorLightGray;
    width: $toolbarWidth - 50px;
    height: 5px;
    border-radius: 5px;
    outline: 0;
}

input[type=range]::-moz-range-track {}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

@mixin rangeThumb {
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none;
    background-color: $colorDarkerBlue;
    border: 1px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        background-color: $colorPurple;
    }

    &:active {
        transform: scale(1.2);
    }
}

input[type="range"]::-webkit-slider-thumb {
    @include rangeThumb;
}
input[type=range]::-moz-range-thumb {
    @include rangeThumb;
}
input[type=range]::-ms-thumb {
    @include rangeThumb;
}
