// Main sidebar container
.RightSidebar {
    flex-direction: column-reverse;
    align-items: flex-end;

    @media screen and (max-width: $breakpointsMobile) {
        display: none;
    }
}

.RightSidebar > div {
    width: 100%;
    max-width: 300px;
}

.RightSidebar-Controls,
.RightSidebar-LandmarksPanel,
.RightSidebar-Header {
    display: flex;
    opacity: .9;
}

.RightSidebar-Template {
    @extend %transitionAll;
    min-height: $mainControlHeight;
    line-height: $mainControlHeight;
    background: $colorDarkerBlue;
    color: white;
    cursor: pointer;
    font-size: large;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-left: 1px;
    margin-bottom: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
        background: $colorDarkBlue;
    }

    &.Disabled {
        cursor: default;
        background: $colorDarkerBlue;
    }
}

.RightSidebar-UndoRedo {
    > div {
        @extend %transitionAll;
        min-height: $mainControlHeight;
        line-height: $mainControlHeight;
        width: $mainControlHeight;
        background: $colorPurple;
        color: white;
        float: left;
        margin-left: 1px;
        margin-bottom: 1px;
        cursor: pointer;

        &:last-of-type {
            transform: scale(-1, 1);
        }

        &:hover {
            background: $colorDarkPurple;
        }

        &.Disabled {
            cursor: default;
            background: $colorGray;
        }
    }
}

/* Special RightSidebar item used for rows (e.g. two buttons).
is itself a row flexbox */
.RightSidebar-Controls {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: $mainControlHeight;

    &.Hide {
        display: none;
    }
}

.RightSidebar-Controls-Item {
    flex: 2;
    margin-left: 1px;
    margin-bottom: 1px;

    &:last-of-type {
      flex: 1;
    }
}

/* Landmarks selector */
.RightSidebar-LandmarksPanel {
    flex-direction: column;
    cursor: pointer;
}

.LmGroup {
    position: relative;
}

.LmGroup-Label,
.LmGroup-Flex {
    width: 100%;
    height: 100%;
}

.LmGroup-Label {
    position: absolute;
    top: 0;
    z-index: 1;
    pointer-events: none;
    font-size: larger;
    color: white;
}

.LmGroup-Label--Active {
    font-weight: 700;
}

.LmGroup-Flex {
    display: flex;
    align-items: center;
}

.Lm {
    @extend %transitionAll;
    opacity: .5;
    flex: 1;
    height: 30px;
    margin-left: 1px;
    margin-bottom: 1px;

    &:hover {
        opacity: .75;
    }
}

.Lm-Empty {
    background: $colorGray;
}

.Lm-Value {
    background: $colorDarkerBlue;
}

.Lm-Selected {
    background: $colorPurple;
}


.Lm-NextAvailable {
    background: $colorOrange;
}
