$fontFamily: "Roboto", Helvetica, Arial, sans-serif;

$breakpointsMobile: 650px;

$mainControlHeight: 40px;
$mainControlPadding: 5px;

$mainBorderRadius: 5px;
$minorBoarderRadius: 2px;

$toolbarWidth: 196px;

$zIndexCanvas: 1;
$zIndexUI: 2;
$zIndexOverlay: 3;
$zIndexNotifications: 5;

$colorGreen:        rgba(75,182,102,1);
$colorDarkGreen:    rgba(30,130,76,1);
$colorLightBlue:    rgba(163,185,219,1);
$colorBlue:         rgba(89,171,227,1);
$colorDarkBlue:     rgba(30,139,195,1);
$colorDarkerBlue:   rgba(10,78,178,1);
$colorRed:          rgba(237,73,61,1);
$colorDarkRed:      rgba(192,57,43,1);
$colorPurple:       rgba(154,92,180,1);
$colorDarkPurple:   rgba(141,72,171,1);
$colorOrange:       rgba(255,181,48,1);
$colorDarkOrange:   rgba(253,149,59,1);
$colorDarkGray:     rgba(40,44,52,1);
$colorGray:         rgba(145,145,145,1);
$colorLightGray:    rgba(229,229,229,1);

$colorDropboxLightBlue: rgba(205,229,249,1);
$colorDropboxBlue:      rgba(0,126,229,1);

@function white($alpha) {
    @return rgba(255, 255, 255, $alpha);
}

@function black($alpha) {
    @return rgba(0, 0, 0, $alpha);
}

%transitionAll {
    transform: translate3d(0,0,0);
    transition: all .2s ease-in-out;
}
