@charset 'utf-8';

@import 'variables';

html {
    height: 100%;
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    font-family: $fontFamily;
    font-weight: 400;
    -webkit-overflow-scrolling: touch;
}

.Viewport {
  cursor: crosshair;

  &.LoadingCursor {
      cursor: wait;
  }
}

p.Error {
    color: $colorDarkRed;
    font-weight: bold;
}

@import 'button';
@import 'layout';

@import 'notifications';
@import 'modal';
@import 'sidebar_left';
@import 'sidebar_right';

@import 'help';
@import 'intro';
@import 'dropbox';
