@charset 'utf-8';

@import 'variables';

* { user-select: none; } /* Don't want user selectable text */

html {
    height: 100%;
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0;
    font-family: $fontFamily;
    font-weight: 400;
}

/* Use nice fonts in text boxes */
input, textarea, select {
    font-size: 150%;
}

.Viewport {
  cursor: crosshair;
}

@import 'button';
@import 'layout';

@import 'notifications';
@import 'modal';
@import 'sidebar_left';
@import 'sidebar_right';

@import 'help';
@import 'intro';
@import 'dropbox';
