@charset 'utf-8';

@import 'variables';

* { user-select: none; } /* Don't want user selectable text */

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

/* Use nice fonts in text boxes */
input, textarea, select{
    font-family:inherit;
    font-size: 150%;
}

.Viewport {
  cursor: crosshair;
}

@import 'button';
@import 'layout';

@import 'notifications';
@import 'modal';
@import 'sidebar_left';
@import 'sidebar_right';

@import 'help';
@import 'backend_selection';
